.App {
  text-align: center;
  background-color: #282c34;
}

.App-calc {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(5px + 2vmin); */
  color: white;
}

.App-entry {
  display: flex;
}

.App-input {
  height: 20px;
  width: 55px;
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.App-check {
  height: 20px;
  margin-top: 16px;
  margin-left: 5px;
}

.App-select {
  height: 20px;
  margin-top: 16px;
  margin-left: 5px;
}